@model IEnumerable<FL.Models.AvailableTarif>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Price)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.StartDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.EndDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DurationDays)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StartDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EndDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DurationDays)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.AvailableTarifId }) |
				@Html.ActionLink("Details", "Details", new { id = item.AvailableTarifId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.AvailableTarifId }) |
				@Html.ActionLink("GoToPayment", "Payment", "Common", new { tarifId = item.AvailableTarifId }, null)
			</td>
		</tr>
	}

</table>
